# For model side
# Ref : https://github.com/pytorch/pytorch/issues/75992
torch --extra-index-url https://download.pytorch.org/whl/cu113
nltk
pythainlp
sklearn
sentence-transformers

# Require dependencies
pandas
gensim
easydict

# Deploy on web application
flask
Flask-Cors

# Database
crate