<!DOCTYPE html>
<html lang="en">
          
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    
</head>
<body>

<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="{{ url_for('static', filename='images/profile.png') }}" alt="image" style="width: 48px; height: 48px">
                </div>
                <div class="chatbox__content--header">
                    <div>
                              <h4 class="chatbox__heading--header">Aeye support </h4>
                              <a class="chatbox__verhead">v 1.0 :</a><a class="chatbox__version"> lastest update 04/10/65</a>
                    </div>
                    <p class="chatbox__description--header">Hi. I'm Aeye chatbot for Q&A. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-for-superai.png') }}" style="width: 36px; height: 29px"/></button>
        </div>
    </div>
</div>
    
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>